/*--------------------------------------------------
ACQUARIO GRID
--------------------------------------------------*/
.grid .item { padding: 0; position: relative; z-index: 1; overflow: visible; }
.grid .item:before, .grid .item:after { display: table; content: ''; }
.grid .item:after { clear: both; }
.grid .item.grey { background: #181616; }
.grid .item.border { box-shadow: inset 0 0 0 10px #3d3d3d; }
.grid .item-media { float: left; -moz-transform: translate(-105px, -105px); -ms-transform: translate(-105px, -105px); -o-transform: translate(-105px, -105px); -webkit-transform: translate(-105px, -105px); transform: translate(-105px, -105px); position: relative; z-index: 1; margin: 0 -60px -60px 0; overflow: hidden; }
.grid .item.right-image .item-media { float: right; -moz-transform: translate(105px, -105px); -ms-transform: translate(105px, -105px); -o-transform: translate(105px, -105px); -webkit-transform: translate(105px, -105px); transform: translate(105px, -105px); margin: 0 0 -60px -60px; overflow: hidden; }
.grid .item-content { padding: 45px 50px 45px 45px; font-size: 16px; line-height: 1.875; letter-spacing: 1.5px; }
.grid .item-content .headline { font-size: 36px; line-height: 1.1; font-weight: 300; letter-spacing: 0.5px; color: #fcfcfc; margin-bottom: 20px; }
.grid .headline a:before { content: ''; position: absolute; width: 100%; height: 100%; z-index: 1; left: 0; top: 0; }
.grid .item .headline i { top: -3px; left: 0; display: inline-block; -moz-transition: all .25s ease-in-out; -o-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out; }
.grid .item:hover .headline i { left: 20px; }
.grid .desc { margin-top: 45px; }
.grid .type { display: inline-block; font-weight: 500; font-size: 16px; }
.grid .type:after { content: ''; width: 3px; height: 3px; border-radius: 3px; background: #fff; position: relative; top: -3px; margin: 0 4px 0 7px; display: inline-block; font-weight: normal; }
.grid .text { display: inline; }

/* margin */
.grid .item.margin-top-3 { margin-top: 120px; }
.grid .item.margin-top-4 { margin-top: 260px; }


@media screen and (max-width: 1280px) {
    .grid .container { width: 1060px; }
    .grid .item .headline { font-size: 30px; padding: 0; }
    .grid .item .headline a { display: inline-block; }
    .grid .item .headline br { display: none; }
}

@media screen and (max-width: 1024px) {
    .grid { padding: 60px; }
    .grid .container { width: 100%; }
    .grid .item-content { padding: 35px 40px 35px 35px; font-size: 15px; line-height: 1.8; }
    .grid .item .headline { font-size: 28px; margin-bottom: 0; padding-right: 20px; }
    .grid .desc { margin-top: 30px; }
    .grid .item.border { box-shadow: inset 0 0 0 8px #3d3d3d; }
    .grid .item-media { -moz-transform: translate(-75px, -75px); -ms-transform: translate(-75px, -75px); -o-transform: translate(-75px, -75px); -webkit-transform: translate(-75px, -75px); transform: translate(-75px, -75px); position: relative; z-index: 1; margin: 0 -45px -45px 0; }
    .grid .item.right-image .item-media { -moz-transform: translate(75px, -75px); -ms-transform: translate(75px, -75px); -o-transform: translate(75px, -75px); -webkit-transform: translate(75px, -75px); transform: translate(75px, -75px); margin: 0 0 -45px -45px; overflow: hidden; }
}

@media screen and (max-width: 767px) {
    .grid { padding: 60px 20px; }
    .grid .item { margin: 30px 15px 45px !important; float: left; width: 42%; margin-right: 5% !important; }
    .grid .item.border { box-shadow: inset 0 0 0 5px #3d3d3d; }
    .grid .item-content { padding: 30px; font-size: 15px; line-height: 1.6; letter-spacing: 1.5px; text-align: left; min-height: 70px; }
    .grid .item .headline { text-align: left; font-size: 25px; margin-bottom: 0; padding-right: 20px; }
    .grid .item .headline i { -moz-transform: scale(.8); -ms-transform: scale(.8); -o-transform: scale(.8); -webkit-transform: scale(.8); transform: scale(.8); top: 0; }
    .grid .item:hover .headline i { left: 10px; }

    .grid .desc { margin-top: 15px; }
    .grid .item-media { width: 117%; float: none !important; display: block; margin: -50px 0 25px -50px !important; -moz-transform: translate(-25px, -25px) !important; -ms-transform: translate(-25px, -25px) !important; -o-transform: translate(-25px, -25px) !important; -webkit-transform: translate(-25px, -25px) !important; transform: translate(0,0) !important; max-height: 300px; }
    .grid .item-media img { width: 100%; max-width: none; }
}

@media screen and (max-width:640px) {
    .grid { padding: 0 15px; }
    .grid .item { width: auto; margin-right: 0 !important; }
}
