@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-reg_0-web.eot');
    src: url('../fonts/proximanova-reg_0-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-reg_0-web.woff2') format('woff2'),
         url('../fonts/proximanova-reg_0-web.woff') format('woff'),
         url('../fonts/proximanova-reg_0-web.ttf') format('truetype'),
         url('../fonts/proximanova-reg_0-web.svg#proxima_novaregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-sbold_0-web.eot');
    src: url('../fonts/proximanova-sbold_0-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-sbold_0-web.woff2') format('woff2'),
         url('../fonts/proximanova-sbold_0-web.woff') format('woff'),
         url('../fonts/proximanova-sbold_0-web.ttf') format('truetype'),
         url('../fonts/proximanova-sbold_0-web.svg#proxima_novasemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-bold_0-web.eot');
    src: url('../fonts/proximanova-bold_0-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold_0-web.woff2') format('woff2'),
         url('../fonts/proximanova-bold_0-web.woff') format('woff'),
         url('../fonts/proximanova-bold_0-web.ttf') format('truetype'),
         url('../fonts/proximanova-bold_0-web.svg#proxima_novabold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-black_0-web.eot');
    src: url('../fonts/proximanova-black_0-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-black_0-web.woff2') format('woff2'),
         url('../fonts/proximanova-black_0-web.woff') format('woff'),
         url('../fonts/proximanova-black_0-web.ttf') format('truetype'),
         url('../fonts/proximanova-black_0-web.svg#proxima_novablack') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-xbold_0-web.eot');
    src: url('../fonts/proximanova-xbold_0-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-xbold_0-web.woff2') format('woff2'),
         url('../fonts/proximanova-xbold_0-web.woff') format('woff'),
         url('../fonts/proximanova-xbold_0-web.ttf') format('truetype'),
         url('../fonts/proximanova-xbold_0-web.svg#proxima_novaextrabold') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Adelle';
    src: url('../fonts/adelle_italic-webfont-web.eot');
    src: url('../fonts/adelle_italic-webfont-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adelle_italic-webfont-web.woff2') format('woff2'),
         url('../fonts/adelle_italic-webfont-web.woff') format('woff'),
         url('../fonts/adelle_italic-webfont-web.ttf') format('truetype'),
         url('../fonts/adelle_italic-webfont-web.svg#adelleitalic') format('svg');
    font-weight: 400;
    font-style: normal;
}