
@import "bootstrap/bootstrap";

@import "variables";
@import "app/mixins";
@import "app/layout";
@import "app/table";
@import "app/texts";
@import "app/buttons";
@import "app/navs";
@import "app/items";
@import "../vendors/slick-carousel/slick/slick.scss";
@import "app/slick";

@import "app/header";
@import "app/footer";
@import "app/sections";

$circle-width: 160px;
$circle-width-xs: 140px;

.circle {
    display: block;
    margin: 0 auto 20px auto;
    width: $circle-width;
    height: $circle-width;
    /*
    border-radius: $circle-width / 2;
    border: 2px solid $white;
    */
    text-align: center;
    text-transform: uppercase;

    .before {
        position: absolute;
        top: 0;
        width: $circle-width;
        height: $circle-width;
    }

    .vertical {
        width: 100%;
    }

    b {
        font-size: 28px;
        font-weight: $semi-bold;
    }

    p {
        margin: 0;
        padding: 0;
        color: $yellow;
        font-size: 12px;
        font-weight: $semi-bold;
    }
    
    @media screen {
        @media (max-width: 767px) {
            width: $circle-width-xs;
            height: $circle-width-xs;

            .before {
                width: $circle-width-xs;
                height: $circle-width-xs;
            }
        }
    }
}

q {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    line-height: 50px;
    font-size: 40px;
    font-weight: $bold;
    padding: 40px 0;
    margin-bottom: 40px;
    max-width: 640px;

    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        width: 180px;
        height: 1px;
        background: $white;
        left: 50%;
        margin-left: -90px;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}

.tweet {
    position: relative;
    display: block;

    .avatar {
        display: inline-block;
        margin: 0 auto;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        overflow: hidden;
        @include box-shadow(0 4px 8px rgba(0,0,0,0.65));

        img {
            width: 100%;
        }
    }

    .name {
        font-size: 13px;
        font-weight: $bold;
        margin: 10px 0;
    }

    p {
        font-size: 13px;
        font-weight: $regular;
        line-height: 20px;
    }
}

.slick-gallery {
    padding: 60px 0 0 0;

    h2 {
        font-size: 17px;
        font-weight: $black;
        padding: 45px 0 10px 0;
    }

    p {
        font-size: 13px;
        padding: 0 30px;
    }
}

.wow {
    @include transitionfix();
}

.hashtag {
    font-family: 'Akzidenz Condensed';

    &:before {
        content: '#';
        font-family: 'Akzidenz';
    }
}

.hashtag + .hashtag {
    margin-left: 5px;
}

