﻿@import "../variables";
@import "mixins";
.link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    @include transition();
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed black;
        bottom: 0;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: $yellow;
        bottom: 0;
        @include transform(scale(0, 1));
        @include transition-transform();
    }
    &:hover,
    &:focus,
    &:active {
        color: $yellow;
        text-decoration: none;
        &:after {
            @include transform(scale(1, 1));
        }
    }
    .content.light & {
        color: $dark;
        &:hover,
        &:focus,
        &:active {
            color: $yellow;
        }
    }
}

a[name] {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
}

.btn {
    position: relative;
    padding: 12px 20px;
    border: 0;
    border-radius: 0;
    color: inherit;
    background: transparent;
    @include transition-transform();
    min-width: 222px;
    max-width: 100%;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    span {
        display: inline-block;
    }
    i {
        display: inline-block;
        position: relative;
        color: inherit;
        background: transparent;
        vertical-align: middle;
        line-height: 0;
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
        }
        @include transition-transform();
        span {
            @include transition-transform();
        }
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: inherit;
        background: transparent;
        i {
            color: inherit;
            background: transparent;
            &.icon-arrow-right {
                @include transform(translateX(10px));
            }
        }
    }
    &.btn-shadow {
        @include box-shadow(0 4px 8px rgba(0, 0, 0, 0.35));
    }
    &.btn-transparent {
        padding: 6px 0;
        font-size: 20px;
        font-weight: $semi-bold;
        &:before {
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background: $white;
            bottom: 0;
            content: '';
            @include transition();
        }
        & > span {
            position: relative;
        }
        color: $white;
        background: transparent;
        i {
            color: $white;
            font-size: 20px;
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
            &:before {
                height: 5px;
            }
            color: $white;
            i {
                color: $white;
            }
        }
    }
    &.btn-icon {
        padding: 0;
        min-width: 0;
        font-size: 20px;
        color: $white;
        background: transparent;
        i {
            color: $white;
            font-size: 20px;
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
            &:before {
                height: 5px;
            }
            color: $white;
            i {
                color: $white;
            }
        }
    }
    &.btn-menu {
        min-width: 0;
        padding: 0;
        font-size: 44px;
        line-height: 50px;
        width: 50px;
        height: 50px;
        span {
            font-size: 0;
        }
    }
    &.btn-search {
        min-width: 0;
        width: 100%;
        padding: 25px 0;
        line-height: 20px;
        font-size: 16px;
        text-align: right;
    }
    &.btn-white {
        color: $fore;
        background: $white;
        border: 2px solid $white;
        font-size: 18px;
        font-weight: $bold;
        padding: 17px 20px;
        span {
            padding-right: 5px;
        }
        i {
            color: $fore;
            font-size: 18px;
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $fore;
            background: darken($white, 10%);
            i {
                color: $fore;
            }
        }
    }
    &.btn-buy {
        min-width: 0;
        &:not(.btn-block) {
            width: 60px;
        }
        height: 60px;
        padding: 0;
        background: #12a3cf;
        color: $white;
        line-height: 60px;
        margin: 6px;
        .icon {
            color: $white;
            font-size: 28px;
        }
    }
    &.btn-secondary {
        @media screen {
            @media (max-width: 767px) {
                background: transparent;
                color: $white;
                font-size: 17px;
                font-weight: $bold;
                min-width: 0;
                padding: 15px 0 5px 0;
                span {
                    position: relative;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: $white;
                        bottom: 0;
                        @include transition();
                    }
                }
                i {
                    color: $white;
                    font-size: 21px;
                }
                &:hover,
                &:focus,
                &:active,
                &.active {
                    color: $yellow;
                    span:before {
                        background: $yellow;
                    }
                    i {
                        color: $yellow;
                    }
                }
            }
            @media (min-width: 768px) {
                color: $fore;
                background: $white;
                border: 2px solid $white;
                font-size: 14px;
                font-weight: $bold;
                padding: 17px 20px;
                i {
                    color: $fore;
                    font-size: 18px;
                }
                &:hover,
                &:focus,
                &:active,
                &.active {
                    color: $fore;
                    background: darken($white, 10%);
                    i {
                        color: $fore;
                    }
                }
                .content.light & {
                    background: #f9f9f9;
                    border: 2px solid #d7d7d7;
                    &:hover,
                    &:focus,
                    &:active,
                    &.active {
                        background: #d7d7d7;
                    }
                }
            }
        }
    }
    &.btn-primary {
        padding: 12px;
        font-size: 18px;
        font-weight: $semi-bold;
        line-height: 0;
        color: $dark;
        background: $yellow;
        border: 2px solid $yellow;
        i {
            display: inline-block;
            position: relative;
            color: $dark;
            font-size: 30px;
            vertical-align: middle;
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $white;
            background: darken($yellow, 10%);
            border: 2px solid darken($yellow, 10%);
            i {
                color: $white;
            }
        }
    }
    &.btn-accent {
        color: $yellow;
        font-size: 16px;
        font-weight: $bold;
        padding-left: 0;
        padding-right: 0;
        min-width: unset;
        i {
            color: $yellow;
            font-size: 18px;
            vertical-align: middle;
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: lighten($yellow, 10%);
            i {
                color: lighten($yellow, 10%);
                &.icon-arrow-right {
                    @include transform(translateX(5px));
                }
            }
        }
    }
    &.btn-tel {
        color: $dark;
        font-size: 16px;
        font-weight: $bold;
        padding: 10px;
        min-width: unset;
        border: 2px solid #eee;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: lighten($yellow, 10%);
            border: 2px solid $yellow;
        }
    }
    &.btn-sticky,
    &.btn-sticky-transparent {
        display: inline-block;
        position: relative;
        width: 222px;
        span {
            vertical-align: middle;
        }
        .icon-tickets {
            font-size: 30px;
            vertical-align: middle;
        }
        @media screen {
            @media (max-width: 767px) {
                display: block;
                width: 100%;
            }
        }
    }
    &.btn-sticky {
        span {
            display: inline-block;
            @include transition-transform();
        }
        .icon-tickets {
            @include transition-transform();
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
            span {
                @include transform(translateX(-15px));
            }
            .icon-tickets {
                @include transform(translateX(-20px) rotateZ(-20deg) scale(1.3, 1.3));
            }
        }
    }
    .sticky-buttons & {
        background: transparent;
        color: rgba($yellow, .25);
        border: 2px dashed rgba($yellow, .25);
        i {
            color: rgba($yellow, .25);
        }
        pointer-events: none;
        .content.light & {
            color: #c7c7c7;
            background: #f9f9f9;
            border: 2px dashed #d7d7d7;
            i {
                color: #c7c7c7;
            }
        }
    }
    @media screen {
        @media (max-width: 767px) {
            i {
                &:first-child {
                    margin-right: 0;
                }
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.sticky-item {
    display: inline-block;
    position: relative;
    width: 222px;
    left: -1000px;
    z-index: $zindexStickyItem;
    @media screen {
        @media (max-width: 767px) {
            display: block;
            width: 100%;
        }
    }
}

.sticky-buttons {
    display: inline-block;
    @media screen {
        @media (max-width: 767px) {
            display: block;
        }
    }
}

.btn-group-vertical {
    display: inline-block;
    .btn {
        display: block;
        clear: both;
    }
    .btn + .btn,
    .btn + .sticky-buttons {
        margin-top: 20px;
    }
    @media screen {
        @media (max-width: 767px) {
            display: block;
            .btn + .btn,
            .btn + .sticky-buttons {
                margin-top: 40px;
            }
        }
    }
}

.buttons {
    @media screen {
        @media (max-width: 767px) {
            display: block;
            .btn {
                display: block;
            }
            .btn + .btn,
            .btn + .sticky-buttons {
                margin-top: 40px;
            }
        }
        @media (min-width: 768px) {
            display: inline-block;
            .btn + .btn,
            .btn + .sticky-buttons {
                margin-left: 20px;
            }
        }
    }
}

.btn-block + .btn-block {
    margin-top: 15px;
}

@media screen {
    @media (min-width: 768px) {
        .btn-accent + .btn-accent {
            margin-left: 40px;
        }
    }
}
