﻿
@import "../variables";
@import "mixins";

footer {
    
    img {
        padding: 40px 0;
        max-width: 100%;
    }

    background: #00050d;
    padding: 60px 0;
    padding-bottom: 200px;
    font-size: 14px;

    .menu {
        
        & > li {

            & > a {                
                font-size: 14px;
                font-weight: $regular;
            }
        }
    }

}
