﻿
@import "../variables";
@import "mixins";

header {
    position: relative;
    color: $white;
    font-size: 14px;

    .overlay {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100px;
        @include gradient-vertical( rgba(3,63,136,0.3), rgba(3,63,136,0));
    }

    .layer {
        z-index: $zindexMenuHeader;
        position: absolute;
        top: 0;
        width: 100%;
        -webkit-transform-style: flat!important;
        transform-style: flat!important;
        @include transform(translateZ(0px));
    }
    
    .header {        
        .row {
            padding-top: 25px;
            padding-bottom: 25px;
            @include transition();

        }
        
        position: relative;
        @include transition();

        .menu-container {
            float: right;
            width: auto;
            padding-right: 45px;
        }

        .btn-secondary {
            line-height: 0;
        }

        .vertical {
            height: 56px;
            margin-top: 30px;   
            // @include transition();     
        }
    }

    .submenu {
        position: absolute;
        right: 25px;
        top: 40px;
        @include transition();

        i {
            line-height: 0;
            vertical-align: -webkit-baseline-middle;
        }

        .icon-search {
            font-size: 21px;
        }
    }

    .logo {
        width: 220px;
        // @include transition();
    }

    .container {
        position: relative;
    }

    .divline {
        width: 100%;
        height: 1px;
        background: white;
    }

    @media screen {
        @media (max-width: 767px) {
            .logo {
                width: 140px;
            }
        }
    }

    &.sticked {
        .layer {
            background: $dark; // #00050d;
            border-bottom: 1px solid #333b49; 
        }
        .header {
            .row {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }        
        .submenu {
            display: none;
        }
        .logo {
            width: 150px;
        }
        .menu-container {
            padding-right: 0;
        }
        .vertical {
            margin-top: 0;
        }
        .divline {
            display: none;
        }
    }

}

/*
.fixed-menu {
    position: fixed;
    top: -90px;
    left: 0;
    right: 0;
    background: $dark;
    z-index: $zindexMenuFixed;
    padding: 0;
    margin: 0;
    @include transition-transform();
    @include transform(translateY(90px));
}

.menu-mobile {
    position: fixed;
    z-index: $zindexMenuMobile;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background: rgba(0,0,0,0.70);
    color: white;
    overflow: hidden;
    text-align: center;
    @include transition-transform();

    a {
        padding: 20px 0;
        display: block;
        font-size: 18px;
    }

    @include opacity(0);
    @include transform(scale(1.2));
    visibility: hidden;

    &.opened {
        visibility: visible;
        @include opacity(1);
        @include transform(scale(1));
    }

    @media screen {
        @media (min-width: 768px) {
            display: none;
        }
    }

    .vertical {
        height: 90px;
    }
}
*/
