﻿
@import "../variables";
@import "mixins";

.whats {
    background: #181616;
    text-align: center;
    padding: 80px 0;

    @media screen {
        @media (max-width: 767px) {
            padding-bottom: 0;
        }
    }

    h2 {
        margin-bottom: 40px;
    }

    p {
        color: #999999;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.schools {
    background: #181616;
    padding-bottom: 100px;
    margin-bottom: 100px;

    .guys {
        position: relative;
        margin-left: -40%;
        width: 130%;
        max-width: 580px;

        img {
            width: 100%;
        }
    }

    @media screen {
        @media (max-width: 767px) {
            .guys {
                margin: 0 auto;
            }
        }
    }


    h2 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 2px;

        span {
            color: #555;
        }

        margin-bottom: 30px;
    }

    p {
        color: #999999;

        &:before {
            background: #999999;
        }
    }

    .places {
        font-size: 15px;
        padding: 0;
        margin: 0;

        a:not(.btn) {
            color: $brand-primary;

            &:before {
                background: $brand-primary;
            }
        }
    }

    .courses {
        font-size: 18px;
        line-height: 30px;

        a {
            display: inline-block;
            position: relative;
            @include transform(translateX(0));
            @include transition-transform();

            &:hover, &:focus, &:active, &.active {
                color: white;
                @include transform(translateX(20px));
            }
        }
    }

    @media screen {
        @media (max-width: 767px) {
            text-align: left;
        }
    }
}

.grid {
    padding-bottom: 60px;
}

.apply {
    background: #181616;
    text-align: center;
    padding: 80px 0 30px 0;

    h2 {
        margin-bottom: 40px;
    }

    p {
        color: #999999;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 40px;
    }

    .headline {
        color: black;
    }

    .btn + .btn {
        margin-left: 30px;
    }

    @media screen and (max-width:480px) {
        .btn + .btn {
            margin: 20px 0 0 0;
        }
    }
}

.offices {
    background: #181616;
    padding: 30px 0 80px 0;
    font-size: 18px;
    color: white;

    b {
        color: #999999;
    }

    a {
        color: $brand-primary;
    }
}

.partners {
    background: #181616;
    padding: 80px 0;
    text-align: center;

    .btn {
        &:hover {
            background: transparent;
            @include transform(translateY(-20px));
        }
    }

    .btn + .btn {
        margin-left: 80px;
    }

    @media screen {
        @media (max-width:1199px) {
            img {
                max-height: 70px;
            }

            .btn + .btn {
                margin-left: 0;
            }
        }
    }
}

.cities {
    background: #181616;
    text-align: center;

    p {
        color: #999999;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 40px 0;
    }
}

.btn-city {
    display: block;
    position: relative;
    background: #181616;
    color: white;
    overflow: hidden;
    padding: 0;
    border: 0;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 40px;
        font-weight: 100;
        text-transform: lowercase;
        @include opacity(0);
        @include transform(translate3d(-50%,-50%,0) scale(1.1));
        @include transition-transform();
    }

    img {
        width: 100%;
        @include transition-transform();
    }

    &:hover {
        background: #181616;
        color: white;

        span {
            @include opacity(1);
            @include transform(translate3d(-50%,-50%,0) scale(1));
        }

        img {
            @include opacity(0.05);
            @include transform(scale(1.1));
        }
    }
}
