﻿
@import "../variables";
@import "mixins";

.box {
    display: block;
    position: relative;
    // min-height: 186px;
    @include transition();

    .media {
        display: block;
        position: relative;
        overflow: visible;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            background: $white;
            @include transition-transform();
            @include transitionfix();
        }
    }

    .picture {
        display: block;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            @include transition-transform();
        }

        .overlay {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include gradient-vertical( rgba(0,0,0,0), rgba(0,0,0,0.8));
        }
    }

    .headline-top, .headline-bottom {
        display: block;
        position: absolute;
        max-height: 100%;
        overflow: hidden;
        font-size: 13px;
        line-height: 20px;
        font-weight: $semi-bold;
        @include transition-transform();
    }

    .play {
        display: block;
        vertical-align: middle;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .vertical {
            width: 100%;
            text-align: center;
        }

        i {
            font-size: 90px;
        }
    }

    .headline-top {
        top: 20px;
        padding: 0 10px 30px 20px;
    }

    .headline-bottom {
        bottom: 15px;
        padding: 30px 10px 0 20px;
    }

    .name {
        display: block;
        max-width: 320px;
        font-weight: $bold;
        margin-bottom: 20px;
    }

    .title {
        display: block;
        margin: 0;
        max-width: 320px;
    }

    .description {
        display: block;
        max-width: 320px;
        font-weight: $regular;
        font-size: 16px;
    }

    em {
        color: $yellow;
        font-style: normal;
    }

    i {
        font-size: 22px;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
        line-height: 0;
    }

    text-decoration: none;

    &:hover {
        text-decoration: none;

        .media {
            &:before {
                @include transform(scale(1.025));
            }
        }

        .picture {
            img {
                @include transform(scale(1.15,1.15));
            }
        }

        .headline {
            color: $white;
            @include transform(translateY(-20px));
        }
    }

    &.instagram {
        width: 210px;
        text-align: right;
        @include box-shadow(0 4px 8px rgba(0,0,0,0.35));

        .headline {
            bottom: unset;
            top: 15px;
            padding: 0 10px 30px 20px;
            width: 100%;
        }

        &:hover {
            .headline {
                @include transform(translateY(10px));
            }
        }
    }
}

.circle-news {
    padding-right: 170px;

    img {
        width: 144px;
        height: 144px;
        border-radius: 72px;
        overflow: hidden;
        border: 4px solid $white;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 15px;
        width: 140px;
        height: 1px;
        background: white;
        top: 72px;
    }
}

[pictures] {
    display: inline-block;
    position: relative;
    width: 210px;
    height: 210px;
    z-index: $zindexPictures;

    .polaroid {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        @include box-shadow(0 4px 8px rgba(0,0,0,0.35));

        &:nth-child(1) {
            @include transform(rotateZ(-5deg));
            @include transition-transform(all, 400ms, 50ms);
        }

        &:nth-child(2) {
            @include transform(rotateZ(-15deg));
            @include transition-transform(all, 400ms, 200ms);
            z-index: $zindexPolaroid;
        }

        img {
            width: 210px;
        }

    }

    &:hover {
        .polaroid {
            &:nth-child(1) {
                @include transform(rotateZ(25deg) translateX(-50px) translateY(50px));
            }

            &:nth-child(2) {
                @include transform(rotateZ(15deg) translateX(-150px) translateY(150px));
            }
        }
    }
}
