﻿
@import "../variables";
@import "mixins";

html, body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    background: $dark;
    color: white;
    letter-spacing: 1px;
    min-height: 3000px;
    font-weight: $regular;
    font-size: 16px;
    line-height: 24px;
    -webkit-font-smoothing: subpixel-antialiased;
}

@media screen {
    @media (max-width: 767px) {
        .container, .container-fluid {
            padding-left: 30px;
            padding-right: 30px;
        }
        /*
        [class^="col-"] {
            padding-left: 30px;
            padding-right: 30px;
        }
        .col-xs-6 {
            padding-left: 15px;
            padding-right: 15px;
        }
        */
        .row.text-right {
            text-align: left;
        }
    }
}

.wow {
    visibility: hidden;
    &.animated {
        visibility: visible;
    }
}

/*
[smooth-scroll] {
    overflow: hidden;
}
*/

/*
.font-observer {
    @include opacity(0);
    @include transition();

    &:not(.fonts-loaded) {
        // body { font-family: sans-serif !important; }
    }

    &.fonts-loaded {
        @include opacity(1);
    }
}
*/

.aspect {
    position: relative;
    overflow: hidden;

    &:before {
        position: relative;
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%;
    }

    &.ratio8cx4c:before {
        padding-top: 306.5 / 643 * 100%;
    }

    &.ratio1x1:before {
        padding-top: 99.9999%;
    }

    &.ratio4x3:before {
        padding-top: 75%;
    }

    &.ratio2x1:before {
        padding-top: 50%;
    }

    &.ratio3x1:before {
        padding-top: 33.33%;
    }

    &.ratio4x1:before {
        padding-top: 25%;
    }

    & > .inner {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    & > img.inner {
        max-width: 100%;
    }
}

.as-table {
    display: table;
    width: 100%;

    .cell {
        display: table-cell;
    }
}

.vertical {
    display: table;
    width: auto;
    height: 100%;

    .center {
        display: table-cell;
        vertical-align: middle;
    }
}

.container-fluid {
    max-width: 1010px;
}

.wrapper-xl {
    max-width: 2560px; // 1920px;
    margin: 0 auto;
}

.spacer-horizontal {
    margin: 30px auto;
    width: 90px;

    &:before {
        content: '';
        display: inline-block;
        margin: 0 auto;
        height: 1px;
        width: 100%;
        background: #3c3a36;
    }
}

.spacer-vertical {
    margin: 20px 0;
    height: 60px;
    text-align: center;

    &:before {
        content: '';
        display: inline-block;
        margin: 0 auto;
        width: 1px;
        height: 100%;
        background: #d3d2d2;
    }
}

.onOverShow {
    @include opacity(0);
    @include transition-transform();
}

.onOver {
    position: relative;
    cursor: pointer;

    &:hover {
        .onOverShow {
            @include opacity(1);
        }
    }
}

.transition {
    @include transition();
}

.appear, .disappear {
    @include transition-transform();

    &.appeared {
        visibility: visible;
        pointer-events: auto;
        @include opacity(1);
        @include transform(scale(1,1));
    }

    &.disappeared {
        @include opacity(0);
        @include transform(scale(1.1,1.1));
        pointer-events: none;
        visibility: hidden;
    }
}

.appear {
    visibility: hidden;
    pointer-events: none;
    @include opacity(0);
    @include transform(scale(1.1,1.1));
}

.disappear {
    visibility: visible;
    @include opacity(1);
}

.blur {
    filter: blur(40px);
    -webkit-filter: blur(40px);
    -moz-filter: blur(40px);
    -o-filter: blur(40px);
    -ms-filter: blur(40px);
    filter: url(#blur);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='40');
}

@media screen {
    @media (min-width:768px) {
        .padding-top-1 {
            padding-top: 40px;
        }

        .padding-top-2 {
            padding-top: 80px;
        }

        .padding-top-3 {
            padding-top: 120px;
        }
    }
}

@media screen {
    @media (min-width:1600px) {
        .margin-top-6 {
            margin-top: -240px;
        }
    }
}

[sticky] {
    display: block;
    position: relative;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #f5f5f5;
    padding: 0;
    margin: 0;
    cursor: pointer;
    &.mid-season-1 {
        background: #fec047;
    }
    &.mid-season-2 {
        background: #ffe6b5;
    }
    &.mid-season-3 {
        border: 2px solid #fec047;
        background: white;
    }
    &.low-season-4 {
        background: #17a91e;
    }
    &.low-season-5 {
        background: #a2dda5;
    }
    &.high-season-6 {
        background: #12a3d0;
    }
}

.dl-horizontal {
    dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: $regular;
        font-size: 14px;
    }
    dl {
        font-weight: $bold;
        font-size: 14px;   
        text-align: right;
    }
}


.dump {
    display: block;
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 160px;
    height: 40px;
    background: #222;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid black;
    overflow: hidden;
    cursor: pointer;

    &.active {
        width: auto;
        height: auto;
        top: 0px;        
        right: 0px;
        bottom: 0;
        left: 0;    
        overflow-y: auto;
    }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $yellow;
  border: 0px none $yellow;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: $yellow;
}
::-webkit-scrollbar-thumb:active {
  background: darken($yellow, 2%);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}