﻿@import "../variables";
@import "mixins";
.menu {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    & > li {
        float: left;
        background: transparent;
        & > a {
            color: $white;
            white-space: nowrap;
            font-size: 15px;
            font-weight: $bold;
            text-decoration: none;
            position: relative;
            @include transition();
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                background: $yellow;
                bottom: 0;
                @include transform(scale(0, 1));
                @include transition-transform();
            }
            &:hover,
            &:focus,
            &:active {
                color: $yellow;
                text-decoration: none;
                &:before {
                    @include transform(scale(1, 1));
                }
            }
        }
        & > ul {
            display: none;
            list-style: none;
            margin: 0;
            position: absolute;
            background: white;
            padding: 20px 50% 20px 30px;
            top: 65px;
            right: 0;
            min-width: 100%;
            @include box-shadow();
            &.show {
                display: block;
            }
            & > li {
                display: block;
                padding-right: 10px;
                & > img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    @include opacity(0);
                    @include transition();
                }
                &:hover {
                    & > img {
                        @include opacity(1);
                    }
                }
                & > a {
                    display: inline-block;
                    color: $dark;
                    white-space: nowrap;
                    font-size: 15px;
                    font-weight: $semi-bold;
                    line-height: 30px;
                    text-decoration: none;
                    position: relative;
                    @include transition();
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        left: 110%;
                        height: 1px;
                        background: $yellow;
                        bottom: 11px;
                        @include transform(scale(0, 1));
                        @include transition-transform();
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        color: $yellow;
                        text-decoration: none;
                        &:before {
                            @include transform(scale(1, 1));
                        }
                    }
                }
            }
        }
    }
    &.sub {
        position: relative;
        top: -15px;
        & > li {
            & > a {
                font-size: 13px;
                font-weight: $semi-bold;
            }
        }
        li + li {
            margin-left: 10px;
            padding-left: 10px;
            // border-left: 1px solid $white;
        }
        li:last-child {
            border-left: none;
        }
    }
    @media screen {
        @media (min-width: 768px) {
            li + li {
                margin-left: 20px;
            }
            & > li > ul {
                li + li {
                    margin-left: 0;
                }
            }
        }
    }
    @media screen {
        @media (max-width: 767px) {
            text-align: center;
            & > li {
                float: none;
                display: inline-block;
            }
        }
    }
}

.menu-sections {
    padding: 30px 0;
    background: $dark;
    z-index: $zindexMenuSections;
    // border-top: 1px solid #333b49;
    h3 {
        position: static;
        display: inline-block;
        margin: 0;
        padding-top: 10px;
        border-top: 1px solid $white;
        font-family: serif;
        font-style: italic;
        font-size: 20px;
        font-weight: 100;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            top: 0;
            background: $white;
        }
    }
}

ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    li {
        margin: 0;
        padding: 0;
        display: block;
        & > a {
            display: block;
            text-align: left;
        }
    }
    &.nav-sections,
    &.nav-chapters {
        display: inline-block;
        position: relative;
        li {
            display: table-cell;
        }
    }
    &.nav-sections {
        display: inline-block;
        float: right;
        border-top: 1px solid #333b49;
        li {
            & > a {
                display: block;
                position: relative;
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                color: #95979a;
                text-decoration: none;
                text-align: center;
                padding: 14px 10px 0 10px;
                max-width: 110px;
                outline: none;
                @include transition();
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 1px;
                    top: -1px;
                    left: 0;
                    background: white;
                    @include transition-transform();
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    top: -5px;
                    left: 50%;
                    margin-left: -5px;
                    border: 1px solid #333b49;
                    background: $dark;
                    @include transition-transform();
                }
            }
            &:hover {
                & > a {
                    color: $white;
                    &:after {
                        border: 1px solid $white;
                        background: $white;
                    }
                }
            }
            &.active {
                & > a {
                    color: $white;
                    &:before {
                        width: 50%;
                    }
                    &:after {
                        border: 1px solid $white;
                        background: $white;
                    }
                }
            }
            &.before {
                & > a {
                    &:before {
                        width: 100%;
                    }
                    &:after {
                        border: 1px solid $white;
                        background: $dark;
                    }
                }
            }
        }
        @media screen {
            @media (max-width: 1023px) {
                li {
                    display: block;
                    float: left;
                    & > a {
                        font-size: 0;
                    }
                }
            }
        }
    }
    &.nav-chapters {
        border-bottom: 3px solid #e6e6e6;
        width: 100%;
        li {
            & > a {
                display: block;
                position: relative;
                font-size: 13px;
                font-weight: 400;
                line-height: 15px;
                color: $medium;
                text-decoration: none;
                padding-bottom: 15px;
                outline: none;
                @include transition();
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 3px;
                    bottom: -3px;
                    background: $dark;
                    @include transition-transform();
                }
            }
            &.active,
            &:hover {
                & > a {
                    color: $dark;
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
        li + li {
            padding-left: 20px;
        }
        @media screen {
            @media (max-width: 1023px) {
                padding-bottom: 10px;
                li {
                    display: block;
                    float: left;
                    margin-right: 10px;
                    & > a {
                        padding-bottom: 5px;
                        margin-bottom: 10px;
                    }
                }
                li + li {
                    padding-left: 0;
                }
            }
        }
    }
    &.nav-faq {
        li {
            display: block;
            padding: 15px 0 5px 0;
            & > a {
                display: block;
                position: relative;
                font-size: 15px;
                font-weight: 500;
                line-height: 20px;
                color: $dark;
                text-decoration: none;
                outline: none;
                @include transition();
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: -3px;
                    background: $light;
                    @include transition();
                }
                span {
                    display: inline-block;
                    position: relative;
                    line-height: 20px;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        bottom: -3px;
                        background: $dark;
                        @include transition-transform();
                    }
                }
            }
            &.active,
            &:hover {
                & > a {
                    color: $dark;
                    &:before {
                        background: $dark;
                    }
                }
            }
        }
    }
}

.nav-chapters-content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav-faq-content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.menu-xs {
    position: absolute;
    width: 100%;
    background: $dark;
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    @include transition();
    .nav-xs {
        margin: 0;
        padding: 140px 30px 20px 30px;
        list-style: none;
        > li {
            display: block;
            padding: 10px 0;
            > a {
                display: inline-block;
                position: relative;
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                padding: 0;
                color: $yellow;
                text-transform: uppercase;
                text-decoration: none;
                @include transition();
                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 0;
                    height: 2px;
                    background: $yellow;
                    bottom: 0;
                    @include transition();
                }
                &:hover,
                &:focus,
                &.active {
                    color: $yellow;
                    text-decoration: none;
                    &:before {
                        width: 100%;
                    }
                }
            }
            > ul {
                display: block;
                background: $dark;
                margin: 0;
                padding: 0;
                list-style: none;
                overflow: hidden;
                max-height: 0;
                @include transition();
                > li {
                    display: block;
                    padding: 10px 0;
                    > a {
                        display: inline-block!important;
                        position: relative;
                        font-size: 15px;
                        font-weight: 100;
                        line-height: 20px;
                        padding: 0;
                        display: block;
                        text-decoration: none;
                        @include transition();
                        &:before {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            width: 0;
                            height: 1px;
                            background: $white;
                            bottom: 0;
                            @include transition;
                        }
                        &:hover,
                        &:focus,
                        &.active {
                            color: $white;
                            text-decoration: none;
                            &:before {
                                width: 100%;
                            }
                        }
                    }
                    &:last-child {
                        padding-bottom: 40px;
                    }
                }
                &.opened {
                    max-height: 1000px;
                }
            }
        }
    }
    .subnav-xs {
        padding: 0 30px 30px 30px;
        &.langnav {
            padding: 15px 0;

            > li {
                > a {
                    display: block!important;
                }
            }
        }
        > li {
            display: block;
            padding: 10px 0;
            > a {
                display: inline-block!important;
                position: relative;
                font-size: 15px;
                font-weight: 100;
                line-height: 20px;
                padding: 0 5px 0 0;
                color: $white;
                text-decoration: none;
                text-transform: none;
                i {
                    vertical-align: middle;
                }
                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 0;
                    height: 1px;
                    background: $white;
                    bottom: 0;
                    @include transition;
                }
                @include transition();
                &:hover,
                &:focus,
                &.active {
                    color: $white;
                    text-decoration: none;
                    &:before {
                        width: 100%;
                    }
                }
            }
            > ul {
                display: block;
                background: $dark;
                margin: 0;
                padding: 0;
                list-style: none;
                overflow: hidden;
                max-height: 0;
                @include transition();
                > li {
                    display: block;
                    > a {
                        display: inline-block!important;
                        position: relative;
                        font-size: 15px;
                        font-weight: 100;
                        line-height: 20px;
                        padding: 10px 0;
                        display: block;
                        text-decoration: none;
                        @include transition();                                                  
                        &:before {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            width: 0;
                            height: 1px;
                            background: $white;
                            bottom: 0;
                            @include transition;
                        }
                        @include transition();
                        &:hover,
                        &:focus,
                        &.active {
                            color: $white;
                            text-decoration: none;
                            &:before {
                                width: 100%;
                            }
                        }
                    }  
                    &:last-child {
                        padding-bottom: 40px;
                    }
                }
                &.opened {
                    max-height: 1000px;
                }
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    &.opened {
        max-height: 1000px;
        max-height: 100vh;
    }
}

.nav-group {
    display: block;
    width: 100%;
    margin: 10px 0;
    position: relative;
    
    .nav-left,
    .nav-right {
        display: block;
        width: 50%;
        overflow: hidden;
        @include transition();
    }
    .nav-left {
        border-right: 1px solid rgba(255,255,255,.2);
    }
    .nav-right {
        position: absolute;
        top: 0;
        right: 0;
    }
    &.opened-left {        
        .nav-left {
            width: 100%;
        }
        .nav-right {
            width: 0;
        }
    }    
    &.opened-right {
        .nav-left {
            width: 0;
        }
        .nav-right {
            width: 100%;
        }
    }
}