﻿
@import "../variables";
@import "mixins";

.content {
    &.dark {
        small {
            color: rgba(255,255,255,.2);
        }

        .link {
            &:before {
                border-bottom-color: rgba(255,255,255,.5);
            }
        }
    }

    &.light {
        background: $white;
        color: $dark;    

        section {
            border-bottom: 1px solid #f0f0f0;
        }

        small {
            color: rgba(0, 0, 0, 0.5);    
        }

        .link {
            &:before {
                border-bottom-color: rgba(0,0,0,.5);
            }
        }
    }
}

section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    .background {
        position: absolute;
        top: 0; //-80px;
        left: 0;
        width: 100%;
        text-align: center;
        
        picture {
            display: block;
            width: 100%;
            height: 100%;
            max-width: 1600px;
            margin: 0 auto;
            position: relative;
            @include transform(translate3d(0,0,0));

            background: transparent no-repeat top;
            background-size: cover;
        }

        img {
            max-width: 100%;
            margin: 0 auto;
            position: relative;
            @include transform(translate3d(0,0,0));
        }
    }

    h1 {
        font-size: 60px;
        font-weight: $bold;
        margin: 0 0 30px 0;
    }

    h2 {
        font-size: 45px;
        font-weight: 500;
        margin: 0 0 20px 0;
    }

    h3 {
        font-size: 20px;
        font-weight: $bold;
        margin: 0 0 30px 0;
    }

    h4 {
        font-size: 16px;
        line-height: 20px;
        font-weight: $bold;
        margin: 30px 0;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &.section-left,
    &.section-right,
    &.section-center {
        p {
            max-width: 640px;                
        }
    }
    
    &.section-center {
        padding-bottom: 300px;

        .background {
            top: 300px;
        }
    }

    &.section-closure {
        padding-bottom: 100px;

        .row:first-child {
            padding-bottom: 370px;
        }        

        .background {
            top: 300px;
        }
    }

    &.hours-buy {
        background: $dark;
        padding: 0;
        font-size: 14px;
        
        & > .inner {
            padding: 30px 0 6px 0;
        }

        .hours {
            padding-left: 60px;
            
            h4 {
                margin: 10px 0 0 0;
            }

            .icon-clock {
                position: absolute;
                left: 15px;
                top: 5px;
                font-size: 30px;
            }
        }
    }

    &.spots {
        margin: 0;
        padding: 0;
        z-index: $zindexSectionSpot;
        .box {
            max-width: 220px;

            .title {
                text-transform: uppercase;
                font-weight: $black;
                font-size: 20px;
            }

            .description {
                font-size: 14px;
                display: block;
                font-weight: $extra-bold;
            }
        }
    }

    &.more {
        .box {
            display: inline-block;
            max-width: 200px;
        }

        .slick-gallery h2 {
            margin: 15px 0 0 0;
        }
    }

    &.ice-kingdom {
        padding-bottom: 400px;
    }

    &.medusa {
        padding-bottom: 350px;
        .background {
            top: 400px;
        }
    }

    &.dolphins {
        .background {
            top: 280px;
        }
    }

    &.matrix {
        padding-top: 0!important;
    }

    &.tickets {
        .box {
            .title {
                font-size: 18px;
                line-height: 20px;
                font-weight: $black;
                text-transform: uppercase;
            }
            .description {
                font-size: 12px;
                font-weight: $extra-bold;
            }
        }
        .more-content {
            min-height: 210px;
        }
        .accent {
            font-size: 12px;
            font-weight: 100;
            &:before {
                font-size: 12px;
            }
        }
        &.discover-liguria {
            .box {
                .description {
                    color: $yellow;
                }
            }
        }
        p {
            font-size: 14px;
            line-height: 20px;
            margin: 0;
        }
    }

    @media screen {
        @media (max-width: 767px) {
            padding-top: 120px!important;
            padding-bottom: 120px!important;

            h1 {
                font-size: 38px;
                margin: 0 0 20px 0;
            }

            h3 {
                font-size: 18px;
                margin: 0 0 20px 0;
            }

            p {
                font-size: 17px;
                margin-bottom: 20px;
            }

            .background {
                position: absolute;
                top: -60px!important;
            }

            &.section-closure {
                .row:first-child {
                    padding-bottom: 0;
                }
            }

            &.hours-buy {
                position: relative;
                top: auto;
                background: $dark;
                padding: 30px 0!important;

                & > .inner {
                    padding: 0;
                }

                .hours {
                    padding-bottom: 20px;
                }
            }

            &.spots {
                padding: 0!important;
                text-align: left;
            }

            &.welcome {
                .text-center {
                    text-align: left;
                }
            }

            &.follow {                
                .box {
                    padding-bottom: 20px;
                    text-align: center;
                }
                .title, .description, .name {
                    max-width: none;
                }
                .headline-top, .headline-bottom {
                    position: relative;
                    top: auto;
                    bottom: auto;
                    padding: 20px 10px;
                    font-size: 15px;
                }
            }

        }
    }
}

.jumbo {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;    
    -moz-perspective: 500px;
    -ms-perspective: 500px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -moz-perspective-origin: center;
    -ms-perspective-origin: center;
    -webkit-perspective-origin: center;
    perspective-origin: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    .container-fluid {
        padding-top: 137px;    
    }

    video {
        width:1920px; 
        height:1040px;
    }

    [background] {
        position: absolute;
        -webkit-transform-style: flat !important;
        transform-style: flat !important;
    }

    .background {        
        height: 100%;
        overflow: hidden;        
    }

    .vertical {
        height: auto;
    }

    h1 {
        font-size: 54px;
        font-weight: $bold;
        margin: 0 0 30px 0;
    }

    h2 {
    }

    h3 {
        font-size: 20px;
        font-weight: $bold;
        margin: 0 0 30px 0;
    }

    h4 {
        font-size: 20px;
        font-weight: $semi-bold;
        margin: 0 0 10px 0;
    }
    
    @media screen {
        @media (max-width: 767px) {            
            video {
                width:960px; 
                height:520px;
            }
        }
        @media (min-width:768px) {            
            .vertical {
                max-width: 660px;
                height: 540px;
                padding: 0;                
            }
            
            h1 {
                font-size: 80px;
                margin: 0 0 30px 0;
            }

            h2 {
                margin-bottom: 0;
            }

            h3 {
                font-size: 20px;
                margin: 0 0 30px 0;
            }

            h4 {
                font-size: 20px;
                margin: 0 0 10px 0;
            }
        }
    }
}

.jumbo-sub {
    .container-fluid {
        padding-top: 0;
    }
    .vertical {
        height: 350px;
        max-width: none;
    }
    &:first-child {
        .container-fluid {
            padding-top: 137px;   
        }
        .vertical {
            height: 350px;
        }
    }
}

[background] {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 730px;
    background: $dark;

    &.background-fixed {
        video {
            width: 1600px;
            position: absolute;
            bottom: 70px;
        }
    }

    img, canvas, video {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        @include transform(translate3d(-50%,0,0) scale(1,1));
    }
    .active {
        @include opacity(1);
    }

    .hover {
        @include opacity(1);
    }
}