﻿
@import "../variables";
@import "mixins";

.slick-gallery {    
    .box {
        display: none;
    }
    
    &.slick-initialized .box {
        display: inline-block;
    }
}

.slick-slider {

    &.slick-options {
        position: absolute;
        width: 100%;
        height: 100%;

        .slick-track {
            height: 100%;

            &:before,
            &:after {
                display: none;
            }
        }
    }

    &.slick-gallery {
        width: 100%;
        height: 100%;

        .slick-track {
            height: 100%;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -1050px;
            width: 1000px;
            height: 100%;
            z-index: $zindexSlickItems;
            background: linear-gradient(90deg, $dark 85%, transparent);
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: -1050px;
            width: 1000px;
            height: 100%;
            z-index: $zindexSlickItems;
            background: linear-gradient(270deg, $dark 85%, transparent);
        }

    }

}

.content.light {
    .slick-slider {
        &.slick-gallery {
            &:before {
                background: linear-gradient(90deg, $white 85%, transparent);
            }
            &:after {
                background: linear-gradient(270deg, $white 85%, transparent);
            }
        }

    }
}


.slick-options {
    visibility: hidden;
    @include opacity(0);
    @include transition(all, 250ms, 250ms);

    &.slick-initialized {
        visibility: visible;
        @include opacity(1);

        .slick-slide {
            display: table;
            vertical-align: middle;
        }
    }
}

.slick-list {
    height: 100%;
    overflow: visible;
}

.slick-slide {
    border: 0;
    outline: 0;
    min-height: 100%;
    position: relative;
    display: table;
    vertical-align: middle;
    &.padded {
        padding: 0 10px;
    }    
    .slick-vertical & {
        border: none !important;
    }
    /*
    @include transform(scale(0.8,0.8));
    @include opacity(.5);
    @include transition-transform(opacity);
    @include transition();
    &.slick-current {
        @include transform(scale(1,1));
        @include opacity(1);
    }
    */
}

$dots-height: 50px;

.slick-dots {
    position: relative;
    width: 100%;
    height: $dots-height;
    bottom: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    
    & > li {
        display: inline-block;
        position: relative;
        width: 40px;
        height: $dots-height;
        cursor: pointer;

        & > button {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -5px;
            margin-left: -5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #fff;
            font-size: 0;
            line-height: 0;
            padding: 0;
            border: none;
            outline: 0;
            @include opacity(.55);
            @include transform(scale(.85, .85));
            @include transition-transform(background-color, width, height, margin);
        }

        &:hover,
        &.slick-active {
            & > button {
                @include opacity(1);
                @include transform(scale(1, 1));
            }
        }
    }
}

.slick-arrow {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    font-size: 0;
    line-height: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    background: transparent;
    color: $white;
    @include transition-transform();
    z-index: $zindexSlickItems;

    &, &:focus, &:active, &:hover {
        outline: none !important;
        box-shadow: none !important;
    }

    &:after {
        content: 'o';
        font-family: 'acquario';
        display: block;
        position: absolute;
        font-size: 30px;
        line-height: 50px;
        width: 50px;
        top: 0;
        left: 0;
        text-align: center;
    }

    &:hover {
        color: $yellow;
    }

    &.slick-prev {
        left: -20px;

        &:after {
            content: 'o';
        }
    }

    &.slick-next {
        right: -20px;

        &:after {
            content: 'p';
        }
    }

    @media screen {
        @media (max-width: 767px) {
            &.slick-prev {
                left: 10px;
            }
            &.slick-next {
                right: 10px;
            }
        }
    }

}
