﻿@import "../variables";
@import "mixins";

th,
td {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

th:first-child {
    text-align: left;
}

td:first-child {
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
}

.table {
    margin-bottom: 50px;

    & > thead {
        & > tr {
            & > th {
                border-bottom: none;
                padding-top: 8px;
                padding-bottom: 8px;
                line-height: 13px;
                vertical-align: bottom;
                font-weight: 600;
            }
        }
    }
    & > tbody {
        & > tr {
            & > td {
                border-top: none;
                border-bottom: 1px solid #333b49;
                padding-top: 12px;
                padding-bottom: 12px;
                vertical-align: middle;
                &:first-child {
                    padding-right: 10px;
                }
            }
        }
    }
    & > tfoot {
        & > tr {
            & > td {
                padding-top: 8px;
                padding-bottom: 8px;
                vertical-align: middle;
            }
        }
    }
}

.content.light {
    .table {
        & > tbody {
            & > tr {
                & > td {
                    border-bottom: 1px solid #ccced1;
                }
            }
        }
    }
}

.table-duration {
    th {
        font-size: 11px;
        font-weight: 600;
        line-height: 13px;
        text-transform: uppercase;
    }
    thead,
    tbody,
    tfoot {
        tr {
            td {
                padding: 8px 0;
                margin: 0;
            }
        }
    }
    tfoot {
        tr {
            td {
                padding: 8px 0;
                span {
                    display: block;
                    padding: 8px 0;
                    background: #b7e3f1;
                    color: #496171;
                    font-size: 15px;
                    font-weight: 400;
                }
                &:last-child {
                    span {
                        border-radius: 0 6px 6px 0;
                    }
                }
                &:nth-child(2) {
                    span {
                        border-radius: 6px 0 0 6px;
                    }
                }
            }
        }
    }
    .icon {
        color: #12a3d0;
        font-size: 21px;
    }
}

.table-matrix {
    position: relative;
    .btn-block {
        margin: 0 5px;
        left: 0;
        right: 0;
        width: auto;
        position: relative;
        display: block;
    }
    .icon {
        &.transparent {
            color: transparent!important;
        }
    }
    thead,
    tbody,
    tfoot {        
        tr {
            th {
                padding: 3px 3px 8px 3px;
                vertical-align: top;
                font-size: 11px;
                font-weight: 600;
                line-height: 13px;
                text-transform: uppercase;
                .thumb {
                    display: block;
                    width: 82px;
                    min-height: 82px;
                    border: 3px solid white;
                        margin: 0 auto 10px auto;
                }
            }
            td {
                position: relative;
                padding: 8px 3px;
                margin: 0;
                border: none;
                &:first-child {
                    font-size: 13px;
                    width: 150px;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 1000px;
                        left: -1000px;
                    }
                }
                &:last-child {
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 1000px;
                        right: -1000px;
                    }
                }
            }
        }
        tr:nth-child(even) {
            td,
            td:first-child:before,
            td:last-child:after {
                background: $white;
                color: $dark;
            }
            td + td {
                border-left: 1px solid #dedfdf;
            }
        }
        tr:nth-child(odd) {
            td,
            td:first-child:before,
            td:last-child:after {
                background: #f2f3f3;
                color: $dark;
            }
            td + td {
                border-left: 1px solid #dedfdf;
            }
        }
        tr.durations {
            td,
            td:first-child:before,
            td:last-child:after {
                background: $dark;
                color: $white;
                padding-top: 12px;
                padding-bottom: 12px;
            }
            td + td {
                border-left: 1px solid #1e2634;
            }
        }
        tr.fares:nth-child(even) {
            td,
            td:first-child:before,
            td:last-child:after {
                background: #dcedfb;
                color: $dark;
                padding-top: 12px;
                padding-bottom: 12px;
            }
            td + td {
                border-left: 1px solid #cedce7;
            }
        }
        tr.fares:nth-child(odd) {
            td,
            td:first-child:before,
            td:last-child:after {
                background: #c2e0f9;
                color: $dark;
                padding-top: 12px;
                padding-bottom: 12px;
            }
            td + td {
                border-left: 1px solid #cedce7;
            }
        }
        tr.ctas {
            td,
            td:first-child:before,
            td:last-child:after {
                background: $white;
                color: $dark;
            }
            td + td {
                border-left: 1px solid #cedce7;
            }
        }
        tr {            
            .previous, .next {
                padding: 0; vertical-align: middle; 
                .btn {
                    visibility: hidden;
                    &.visible {
                        visibility: visible;
                    }
                }
            }
            .previous {
                width: 144px; text-align: right;                
            }
            .next {
                width: 30px;
            }
            .col {
                width: 100px;
                min-width: 100px;
                span {
                    width: 78px;
                }
                cursor: pointer;
                @include transition();
                .thumb {
                    @include transition();
                }
                .icon {
                    @include transition();
                }
                .btn {
                    // @include transition-transform();
                    @include transition();
                }
                &.hover:not(.dimmed) {
                    color: $dark!important;
                    .thumb {
                        border: 3px solid $yellow;
                    }
                    .icon-checkmark {
                        color: $dark;
                    }
                    .btn {
                        // @include transform(scale(1.05));
                        @include box-shadow();
                    }
                }
                .btn-block:hover {
                    background: $yellow;
                    @include box-shadow();
                }
                &.dimmed {
                    .thumb, 
                    .icon, 
                    span,                    
                    .btn {
                        visibility: hidden;
                    }
                }
            }
            &:nth-child(even) {
                .col:not(.dimmed) {
                    &.hover {
                        background: $yellow!important;
                    }
                }
            }
            &:nth-child(odd) {
                .col:not(.dimmed) {
                    &.hover {
                        background: #f1b845!important;
                    }
                }
            }
        }                
    }
    thead {
        tr {
            th.col {
                span {
                    display: inline-block;
                    min-height: 26px;                
                }
            }
        }
    }
    tfoot {
        tr {
            @include transition();
            th {
               &:first-child {                    
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 1000px;
                        left: -1000px;
                        @include transition();
                    }
                }
                &:last-child {
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 1000px;
                        right: -1000px;
                        @include transition();
                    }
                } 
            }
        }
    }
    &.sticked {        
        tfoot {
            tr {
                th {
                    background: $dark;
                    &:first-child {                    
                        &:before {
                            background: $dark;
                        }
                    }
                    &:last-child {
                        &:after {
                            background: $dark;
                        }
                    } 
                }
            }
        }
    }    
    /*
    tfoot {
        tr {
            td {
                padding: 8px 0;
                span {
                    display: block;
                    padding: 8px 0;
                    background: #b7e3f1;
                    color: #496171;
                    font-size: 15px;
                    font-weight: 400;
                }
                &:last-child {
                    span {
                        border-radius: 0 6px 6px 0;
                    }
                }
                &:nth-child(2) {
                    span {
                        border-radius: 6px 0 0 6px;
                    }
                }
            }
        }
    }
    */
    .icon {
        color: #12a3d0;
        font-size: 21px;
    }
}

.table-timetable {
    th {
        font-size: 13px;
        font-weight: 400;
        line-height: 14px;
        color: #a3a4a7;
    }
    thead,
    tbody,
    tfoot {
        tr {
            th {
                margin: 0;
                padding: 0;
                min-width: 18px;
            }
            td {
                padding: 15px 0;
                margin: 0;
            }
        }
    }
}

.legend {
    font-size: 13px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #f5f5f5;
    padding: 0;
    margin: 0;
    cursor: pointer;
    &.mid-season-1 {
        background: #fec047;
    }
    &.mid-season-2 {
        background: #ffe6b5;
    }
    &.mid-season-3 {
        border: 2px solid #fec047;
        background: white;
    }
    &.low-season-4 {
        background: #17a91e;
    }
    &.low-season-5 {
        background: #a2dda5;
    }
    &.high-season-6 {
        background: #12a3d0;
    }
}

.dot + span {
    margin-left: 5px;
}
