﻿
@import "../variables";
@import "mixins";

.text-sans {
    font-family: $font-family-sans-serif;
}

.text-serif {
    font-family: $font-family-serif;
    font-weight: $regular!important;
    font-style: italic;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}
.text-center-xs {
    @media screen {
        @media (max-width: 767px) {
            text-align: center;
        }
    }
}
.text-center-sm {
    @media screen {
        @media (max-width: 1199px) {
            text-align: center;
        }
    }
}

.text-strong {
    font-weight: 700;
}

.text-uppercase {
    text-transform: uppercase;    
    letter-spacing: 1px;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-overflow {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.topic {
    font-size: 50px;
    line-height: 24px;
    letter-spacing: 4px;
    margin: 0 0 40px 0;

    span {
        color: #d3d2d2;
    }

    @media screen {
        @media (min-width: 768px) {            
            font-size: 110px;
            line-height: 55px;
            letter-spacing: 16px;
            margin: 50px 0 0 0;
        }
    }
}

.accent {
    color: $yellow;
    font-weight: bold;
    margin-right: 5px;

    &:before {
        content: 'p';
        font-family: 'acquario';    
        vertical-align: middle;
        font-size: 15px;
        margin-right: 3px;
    }
}

small {
    font-size: 75%;
    line-height: 0;
    font-weight: 500;
}
